clone:
  depth: full
pipelines:
  branches:
    master:
      - step:
          name: Deploy to Heroku
          deployment: production
          script:
            - git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master
            - git tag ${BITBUCKET_BUILD_NUMBER}
            - git push origin --tags